<div class="card border-dark mb-3 seccion-info" style="max-width: 80rem">
    
  <div id="edu-plus" *ngIf="usuarioLogueado">
      <button
        class="betene btn1 hover"
        data-bs-toggle="modal"
        data-bs-target="#educacionModal"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  
    <div class="card-body text-dark title-box-text">
      <h4 id="scrollspyHeadingEdu" class="card-title-title">Educación:</h4>
      <div>

        <ul id="education-list">
          <li *ngFor="let item of educacionInfo; let i = index">
            <div id="edu-delete-edit" *ngIf="usuarioLogueado">
              <button class="betene btn1 hover">
                <fa-icon
                  [icon]="faTimes"
                  [ngStyle]="{ color: 'red' }"
                  (click)="onDeleteEducacion(item)"
                ></fa-icon>
              </button>
              <button class="betene btn1 hover"
              data-bs-toggle="modal"
              data-bs-target="#eduEditModal"
              (click)="onSelectEdit(i)"
              >       
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>

            <div class="container-item">
            <img
              [src]="item.img"
              class="rounded float-start mini-icon"
              alt="img"
              width="75px"
              height="75px"
            />
            <div class="list-group">
              <div class="d-flex w-100 justify-content-between">
                <small class="text-muted">{{ item.time }}</small>
              </div>
              <p class="mb-1">{{ item.title }}</p>
              <small class="text-muted">{{ item.description }}</small>
            </div>
            </div>
          </li>
        </ul>
  
      </div>  

<!-- MODAL -->
<!-- Modal -->
<div
  class="modal fade"
  id="educacionModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
          Agregue su nuevo estudio:
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <!-- Cuerpo dentro del modal -->

        <h5 class="modal-title" id="exampleModalLabel">Institución:</h5>
        <br />
        <div class="input-group">
          <input
            placeholder="¿En qué institución estudió?"
            type="text"
            name="insti"
            id="insti"
            [(ngModel)]="newEdu.title"
            class="form-control"
            aria-describedby="basic-addon1"
          />
        </div>
        <br />
        <h5 class="modal-title" id="exampleModalLabel">Título conseguido:</h5>
        <br />
        <div class="input-group">
          <input
            placeholder="¿Qué titulo obtuvo?"
            type="text"
            name="edudescription"
            id="edudescription"
            [(ngModel)]="newEdu.description"
            class="form-control"
            aria-describedby="basic-addon1"
          />
        </div>
        <br />
        <h5 class="modal-title" id="exampleModalLabel">Inicio - Final:</h5>
        <br />
        <div class="input-group">
          <input
            placeholder="Ingrese el año de inicio y final del estudio"
            type="text"
            name="edutime"
            id="edutime"
            [(ngModel)]="newEdu.time"
            class="form-control"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          (click)="addEducacion(newEdu)"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>


<!-- MODAL DEL EDIT -->
<!-- Modal -->
<div
  class="modal fade"
  id="eduEditModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
          Edite su estudio:
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <!-- Cuerpo dentro del modal -->

        <h5 class="modal-title" id="exampleModalLabel">Institución:</h5>
        <br />
        <div class="input-group">
          <input
            type="text"
            name="edueditinsti"
            id="edueditinsti"
            *ngIf="eduSelected" 
            [(ngModel)]="eduSelected.title"            
            class="form-control"
            aria-describedby="basic-addon1"
          />
        </div>
        <br />
        <h5 class="modal-title" id="exampleModalLabel">Título conseguido:</h5>
        <br />
        <div class="input-group">
          <input
            type="text"
            name="edueditdescription"
            id="edueditdescription"
            *ngIf="eduSelected" 
            [(ngModel)]="eduSelected.description"            
            class="form-control"
            aria-describedby="basic-addon1"
          />
        </div>
        <br />
        <h5 class="modal-title" id="exampleModalLabel">Inicio - Final:</h5>
        <br />
        <div class="input-group">
          <input
            type="text"
            name="eduedittime"
            id="eduedittime"
            *ngIf="eduSelected" 
            [(ngModel)]="eduSelected.time"            
            class="form-control"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
        *ngIf="eduSelected" 
        (click)="onUpdate()"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>



