                                          <!-- EDUCACION -->

  <div id="educacion" class="card border-dark mb-3" style="max-width: 80rem;">
    <i id="edit" class="fas fa-pencil-alt"></i>
    <i id="plus" class="fas fa-plus"></i>
    <div id="educacion-text" class="card-body text-dark">
      <h4 class="card-title-education">Educación:</h4>
        <div>
          <ul id="education-list" *ngFor="let item of educacionInfo">
            <li>
                <img [src]="item.img" id="school-icon" class="rounded float-start" alt="school" width="75px" height="75px">
                <div class="list-group">
                  <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">{{item.time}}</small>
                  </div>
                  <p class="mb-1">{{item.title}}</p>
                  <small class="text-muted">{{item.description}}</small>
                </div>
            </li>
            <br>
          </ul>
        </div>
    </div>
  </div>
