#edu-delete-edit{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 5px;
    right: 5px;
}
#edu-delete-edit button{
    margin-right: 8px;
}

#edu-plus{
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 10px;
}


