<div *ngIf="!usuarioLogueado">   <!-- NavBar de Usuario NO-LOGUEADO -->
                                             <!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/8dWqNMH/argprog.jpg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
         Argentina Programa - #YoProgramo
      </a>
      <form class="d-flex">
                                             <!-- ICONOS Y LOGIN -->
          <div class="mail-icon">
            <i class="far fa-envelope fa-2x"></i>
          </div>

          <div class="wpp-icon">
            <i class="fab fa-whatsapp fa-2x"></i>
          </div>
          <div class="imput-username">
            <input class="form-control me-2" type="search" placeholder="Username" aria-label="Search">
          </div>
          <div class="imput-password">
            <input class="form-control me-2" type="search" placeholder="Password" aria-label="Search">
          </div>

          <div class="login-icon">
              <button (click)="loguearUsuario()" type="submit"class="btn btn-success">Login</button>
          </div>
      </form>
    </div>
  </nav>
</div>


<div *ngIf="usuarioLogueado">   <!-- NavBar de Usuario LOGUEADO -->
                                             <!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/8dWqNMH/argprog.jpg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
         Argentina Programa - #YoProgramo
      </a>
      <form class="d-flex">
                                             <!-- ICONOS Y LOGIN -->
          <div class="mail-icon">
            <i class="far fa-envelope fa-2x"></i>
          </div>

          <div class="wpp-icon">
            <i class="fab fa-whatsapp fa-2x"></i>
          </div>
                
          <h5 id="usuarioBienvenida">¡Bienvenido, Lautaro!</h5>
          
          <div class="login-icon">
            <button (click)="desloguearUsuario()" type="submit"class="btn btn-danger">Logout</button>
          </div>
      </form>
    </div>
  </nav>
</div>