<div *ngIf="!usuarioLogueado">   <!-- NavBar de Usuario NO-LOGUEADO -->
                                             <!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/8dWqNMH/argprog.jpg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
         Argentina Programa - #YoProgramo
      </a>
      <form class="d-flex">
                                             <!-- ICONOS Y LOGIN -->

          <div id="mail-icon">
            <button class="betene btn1 hover"><i class="far fa-envelope"></i></button>
          </div>

          <div id="linkedin-icon">
            <button class="betene btn1 hover"><i class="fab fa-linkedin"></i></button>
          </div>

          <div id="wpp-icon">
            <button class="betene btn1 hover"><i class="fab fa-whatsapp"></i></button>
          </div>

          <div class="imput-username">
            <input id="inputUser" class="form-control me-2" type="text" placeholder="Username" aria-label="Search">
          </div>
          <div class="imput-password">
            <input id="inputPass" class="form-control me-2" type="password" placeholder="Password" aria-label="Search">
          </div>

          <div class="login-icon">
              <button (click)="loguearUsuario()" type="submit"class="btn btn-success">Login</button>
          </div>
      </form>
    </div>
  </nav>
</div>


<div *ngIf="usuarioLogueado">   <!-- NavBar de Usuario LOGUEADO -->
                                             <!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/8dWqNMH/argprog.jpg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
         Argentina Programa - #YoProgramo
      </a>
      <form class="d-flex">
                                             <!-- ICONOS Y LOGIN -->
          <div id="mail-icon">
            <button class="betene btn1 hover"><i class="far fa-envelope"></i></button>
          </div>

          <div id="linkedin-icon">
            <button class="betene btn1 hover"><i class="fab fa-linkedin"></i></button>
          </div>

          <div id="wpp-icon">
            <button class="betene btn1 hover"><i class="fab fa-whatsapp"></i></button>
          </div>
                
          <h5 id="usuarioBienvenida">¡Bienvenido, Lautaro!</h5>
          
          <div class="login-icon">
            <button (click)="desloguearUsuario()" type="submit"class="btn btn-danger">Logout</button>
          </div>
      </form>
    </div>
  </nav>
</div>