<div>
                                            <!-- ENCABEZADO -->
<header>
                                             <!-- PERFIL -->
    <div id="contenedor-todo-header">
      <div>
        <img [src]="headerInfo.profile" id="profile" class="rounded float-start" alt="img de perfil">
      </div> 
                                        <!-- NOMBRE Y TITULO -->
    <div id="contenedor-nombre-titulo">
      <h2 id="nombre">{{ headerInfo.nombre }}</h2>
      <h3 id="titulo">{{ headerInfo.titulo }}</h3>
    </div>
                                         <!-- HEADER AZUL -->
      <img [src]="headerInfo.banner" id="blue-banner" class="img-fluid" alt="este es el banner">
    </div>
</header>

</div>
