<!-- EXPERIENCIA -->

<div class="card border-dark mb-3 seccion-info" style="max-width: 80rem">
  
  <div id="exp-plus" *ngIf="usuarioLogueado">
    <button
      class="betene btn1 hover"
      data-bs-toggle="modal"
      data-bs-target="#experienciaModal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="card-body text-dark title-box-text">
    <h4 id="scrollspyHeadingExp" class="card-title-title">Experiencia:</h4>
    <div>
      <ul
        id="education-list"
      >
        <li *ngFor="let item of experienciaInfo; let i = index">
          <div id="exp-delete-edit" *ngIf="usuarioLogueado">
            <a class="betene btn1 hover">
              <fa-icon
                [icon]="faTimes"
                [ngStyle]="{ color: 'red' }"
                (click)="onDeleteExperiencia(item)"
              ></fa-icon>
            </a>

            <a
              class="betene btn1 hover"
              data-bs-toggle="modal"
              data-bs-target="#expEditModal"
              (click)="onSelectEdit(i)"
            >
              <i class="fas fa-pencil-alt"></i>
          </a>
          </div>

          <div class="container-item">
          <img
            [src]="item.img"
            class="rounded float-start mini-icon"
            alt="icono generico"
          />
          <div class="list-group">
            <div class="d-flex w-100 justify-content-between">
              <small class="text-muted">{{ item.time }}</small>
            </div>
            <p class="mb-1">{{ item.title }}</p>
            <small class="text-muted">{{ item.description }}</small>
          </div>
        </div>
        </li>
      </ul>
    </div>

    <!-- MODAL -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="experienciaModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel1">
              Agregue su nueva experiencia laboral:
            </h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <!-- Cuerpo dentro del modal -->

            <h5 class="modal-title" id="exampleModalLabel1">Empresa:</h5>
            <br />
            <div class="input-group">
              <input
                placeholder="¿En qué empresa trabajó?"
                type="text"
                name="expempresa"
                id="expempresa"
                [(ngModel)]="newExp.title"
                class="form-control"
                aria-describedby="basic-addon1"
              />
            </div>
            <br />
            <h5 class="modal-title" id="exampleModalLabel1">Puesto:</h5>
            <br />
            <div class="input-group">
              <input
                placeholder="¿Qué hacía/hace en su puesto de trabajo?"
                type="text"
                name="exppuesto"
                id="exppuesto"
                [(ngModel)]="newExp.description"
                class="form-control"
                aria-describedby="basic-addon1"
              />
            </div>
            <br />
            <h5 class="modal-title" id="exampleModalLabel1">Inicio - Final:</h5>
            <br />
            <div class="input-group">
              <input
                placeholder="Ingrese el año de inicio y final del trabajo"
                type="text"
                name="exptime"
                id="exptime"
                [(ngModel)]="newExp.time"
                class="form-control"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              (click)="addExperiencia(newExp)"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL DEL EDIT -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="expEditModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel2"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel1">
              Edite su experiencia laboral:
            </h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <!-- Cuerpo dentro del modal -->

            <h5 class="modal-title" id="exampleModalLabel1">Empresa:</h5>
            <br />
            <div class="input-group">
              <input
                type="text"
                name="expeditempresa"
                id="expeditempresa"
                *ngIf="expSelected"
                [(ngModel)]="expSelected.title"
                class="form-control"
                aria-describedby="basic-addon1"
              />
            </div>
            <br />
            <h5 class="modal-title" id="exampleModalLabel1">Puesto:</h5>
            <br />
            <div class="input-group">
              <input
                type="text"
                name="expeditpuesto"
                id="expeditpuesto"
                *ngIf="expSelected"
                [(ngModel)]="expSelected.description"
                class="form-control"
                aria-describedby="basic-addon1"
              />
            </div>
            <br />
            <h5 class="modal-title" id="exampleModalLabel1">Inicio - Final:</h5>
            <br />
            <div class="input-group">
              <input
                type="text"
                name="expedittime"
                id="expedittime"
                *ngIf="expSelected"
                [(ngModel)]="expSelected.time"
                class="form-control"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              (click)="onUpdate()"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
