<div
  id="skills"
  class="card border-dark mb-3 contiene-progres"
  style="max-width: 80rem"
>
  <h4 id="scrollspyHeadingSkills" class="title-skills">Hard & Soft Skills:</h4>

  <div id="sk-edit" *ngIf="AuthService.usuarioLogueado">
    <button class="betene btn1 hover"><i class="fas fa-pencil-alt"></i></button>
  </div>

  <div id="sk-plus" *ngIf="AuthService.usuarioLogueado">
    <button class="betene btn1 hover"><i class="fas fa-plus"></i></button>
  </div>

  <div id="skill-item-card" *ngFor="let skill of skillsInfo">
    <circle-progress
      [radius]="90"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="10"
      [innerStrokeColor]="'##e7e8ea'"
      [animation]="true"
      [showTitle]="true"
      [responsive]="true"
      [animationDuration]="1000"
      [subtitleFontSize]="'20'"
      [percent]="skill.title"
      [title]="skill.title"
      [subtitle]="skill.subtitle"
      [outerStrokeColor]="skill.outerStrokeColor"
    ></circle-progress>
    <button class="betene btn1 hover" *ngIf="AuthService.usuarioLogueado">
      <fa-icon
        [icon]="faTimes"
        [ngStyle]="{ color: 'red' }"
      ></fa-icon>
    </button>

  </div>

  </div>
