.card-text{
    font-size: larger;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#about-edit{
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 10px;
}