<!-- ACERCA DE -->

<div
  data-bs-spy="scroll"
  data-bs-target="#navbar-example2"
  data-bs-offset="0"
  class="card border-dark mb-3 scrollspy-example seccion-info"
  tabindex="0"
  style="max-width: 80rem"
>

  
  <div class="card-body text-dark title-box-text">
    <h4 id="scrollspyHeadingAcercaDe" class="card-title-title">Acerca de:</h4>

    <div *ngFor=" let item of acercadeInfo; let i = index"> 

      <div id="about-edit">
        <button
          data-bs-toggle="modal"
          data-bs-target="#aboutEditModal"
            id="edit"
            *ngIf="usuarioLogueado"
            (click)="onSelectEdit(i)"
            class="betene btn1 hover"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>


      <p class="card-text">{{ item.description }}</p>
        
    </div>



<!-- MODAL DEL EDIT -->
<!-- Modal -->
<div
  class="modal fade"
  id="aboutEditModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
          Edite su descripción personal:
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <!-- Cuerpo dentro del modal -->

        <h5 class="modal-title" id="exampleModalLabel">Descripción:</h5>
        <div class="input-group">
          <input
            type="text"
            name="abouteditinsti"
            id="abouteditinsti"
            class="form-control"
            aria-describedby="basic-addon1"
            *ngIf="aboutSelected"
            [(ngModel)]="aboutSelected.description"
          />
        </div>
        <br />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
        (click)="onUpdate()"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>

