.wpp-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.mail-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.imput-username{
    margin-right: 5px;
}
.imput-password{
    margin-right: 5px;
}
#profile{
    width: 150px;
    height: 150px;
    background: black;
    box-shadow: 0 0 3px 3px rgba(8, 8, 118, 4);
    position: absolute;
    margin-top: 250px;
    margin-left: 55px;
}
#contenedor-todo-header{
    position: relative;
}
#blue-banner{
    width: 100%;
    height: 500px;
}
#nombre{
    font-family: 'Poppins', sans-serif;
    
}
#titulo{
    font-family: 'Poppins', sans-serif;
}
#contenedor-nombre-titulo{
    width: 420px;
    margin-left: 230px;
    margin-top: 310px;
    position: absolute;
}

#acerca-de{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position:relative;
}

#experiencia{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position: relative;
}

#acerca-de-text{
    font-family: "Poppins", sans-serif; 
}

#educacion-text{
    font-family: "Poppins", sans-serif; 
}

#exp-text{
    font-family: "Poppins", sans-serif; 
}

#acerca-de i{
    position: absolute;
    top: 5px;
}

#educacion i{
    position: absolute;
    top: 5px;
}

#experiencia i{
    position: absolute;
    top: 5px;
}

#plus{
    right: 35px;
}

#edit{
    right: 5px;
}

#educacion{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position: relative;
}

.descripcion-educacion{
    font-size: 15px;
}

.education-text{
    width: 900px;
    display: flex;
}

#education-list{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    list-style: none;
} 

.card-title-education{
    font-size: 30px;
}

.card-title-acerca-de{
    font-size: 30px;
}

#salud-icon{
    margin-top: 15px;
    margin-right: 15px;
}

#argprog-icon{
    margin-top: 25px;
    margin-right: 15px;
}

#school-icon{
    margin-right: 15px;

}
