.icono-redes{
    display: flex;
    align-items: center;
    margin-right: 0.300em;
}

.nav-item a{
    padding-left: 30px;
    text-decoration: none;
    color: black;
}

.imput-username{
    margin-right: 0.313em;
}
.imput-password{
    margin-right: 0.313em;
}

#profile{
    width: 9.375em;
    height: 9.375em;
    background: black;
    box-shadow: 0 0 3px 3px black;
    position: absolute;
    margin-top: 15em;
    margin-left: 3.438em;
}

#blue-banner{
    width: 100%;
    height: 31.25em;
}


#contenedor-nombre-titulo{
    width: auto;
    margin-left: 14.375em;
    margin-top: 17.5em;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.seccion-info{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position:relative;
}


.title-box-text{
    font-family: "Poppins", sans-serif !important; 
}



#education-list{
    font-family: "Poppins", sans-serif;
    font-size: 1.563em;
    list-style: none;
} 

.list-group{
    margin-left: 10px !important; 
}


.card-title-title{
    font-size: 1.875em;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}


.title{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 1.875em;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;

    
}

.container-item{
    display: flex;
    align-items: center;
}

.mini-icon{
    max-width: 75px;
    max-height: 75px;
    margin-right: 20px;
    
}

              /*BOTONES EDITAR AGREGAR ELIMINAR Y REDES SOCIALES*/

.betene {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn1 {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
}
.btn1:hover {
    background-color: #008CBA;
    color: white;
}




