#wpp-icon{
    display: flex;
    align-items: center;
    margin-right: 0.938em;
}
#mail-icon{
    display: flex;
    align-items: center;
    margin-right: 0.625em;
}

#linkedin-icon{
    display: flex;
    align-items: center;
    margin-right: 0.625em;
}

.imput-username{
    margin-right: 0.313em;
}
.imput-password{
    margin-right: 0.313em;
}
#profile{
    width: 9.375em;
    height: 9.375em;
    background: black;
    box-shadow: 0 0 3px 3px rgba(8, 8, 118, 4);
    position: absolute;
    margin-top: 15em;
    margin-left: 3.438em;
}
#contenedor-todo-header{
    position: relative;
}

#blue-banner{
    width: 100%;
    height: 31.25em;
}

#nombre{
    font-family: 'Poppins', sans-serif;
    
}
#titulo{
    font-family: 'Poppins', sans-serif;
}
#contenedor-nombre-titulo{
    width: auto;
    margin-left: 14.375em;
    margin-top: 19.375em;
    position: absolute;
}

#acerca-de{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position:relative;
}

#experiencia{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position: relative;
}

#skills-box{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position: relative;

}

#acerca-de-text{
    font-family: "Poppins", sans-serif; 
}

#educacion-text{
    font-family: "Poppins", sans-serif; 
}

#exp-text{
    font-family: "Poppins", sans-serif; 
}


#plus{
    position: absolute;
    right: 2.188em;
    top: 0.313em;
}

#edit{
    position: absolute;
    top: 0.313em;
    right: 0.313em;
}

#educacion{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
    position: relative;
}

.descripcion-educacion{
    font-size: 0.938em;
}

.education-text{
    width: 56.25em;
    display: flex;
}

#education-list{
    font-family: "Poppins", sans-serif;
    font-size: 1.563em;
    list-style: none;
} 

.card-title-education{
    font-size: 1.875em;
}

.card-title-acerca-de{
    font-size: 1.875em;
}

#salud-icon{
    margin-top: 0.938em;
    margin-right: 0.938e;
}

#argprog-icon{
    margin-top: 1.563em;
    margin-right: 0.938e;
}

#school-icon{
    margin-right: 0.938em;

}

#skills{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 4);
}

#skills-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E2E2E2;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.card-title-skills{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    margin-top: 18px;
}


#word-icon{
  width: 20px;
  margin-left: 20px;
}

.progress-bar{
    border-radius: 5px;
}

#skill-title{
    font-family: "Poppins", sans-serif;
    width: 145px;
    margin-left: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

